@import url(http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@keyframes treme {
  0% {margin-left: 0;}
  25% {margin-left: 3px;}
  50% {margin-left: 0;}
  75% {margin-left: -3px;}
  100% {margin-left: 0;}
}


html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
    background-color: hsl(213, 76%, 95%);
}

button {
  background-color: #e8e8e8;
  border: none;
  margin-left: 5px;
  color: gray;
  width: 45%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: gray;
  margin-top: 1%;
}

.campos {
  margin-top: 2%;
  margin-bottom: 2%;
}

#principal {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  top: 10%;
  position: fixed;
  background-color: hsl(213, 76%, 76%);
  width: 40%;
  height: 45%;
  border-radius: 10px;
}

#buttons {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 1%;
  position: fixed;
  width: 43%;
  
}

.erro {
    border-color: hsl(0, 92%, 60%);
   animation: treme 0.2s;
}

#id {
    display: none;
}

.ok {
   color: green;
}

.remove {
   color: red; 
}




