body{
   float:right;
   position: fixed;
    
}

#header {
    left:0;
    bottom:0;
    width:100%;
    border: solid;
}

.post-content{
    max-width:700px;
}
.post-content img{
    max-width:100% !important;
}