@keyframes treme {
  0% {margin-left: 0;}
  25% {margin-left: 3px;}
  50% {margin-left: 0;}
  75% {margin-left: -3px;}
  100% {margin-left: 0;}
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: hsl(213, 76%, 95%);
}

#table {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    top: 10%;
    position: absolute;
    width: 75%;
    height: 90%;
}

.form-control{
    border: 1.1px solid #0e83cd;
    width:250px;
}

input {
    margin-left: 1%;
    margin-top: 1.2%;
    margin-bottom: 1%;
}

table {
    border: 2px solid black;
    margin-top: 1%;  
}

h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: grey;
    margin-top: 1%;
}

article {
    border: 2px solid #000;
    width: 100%;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 1%;
}

/* botão estilo default */
.button {
    color: black;
    background: none;
    cursor: pointer;
    padding: 5.0px 13px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.button-1 {
    border: 1.4px solid #0e83cd;
    color: #000;
}

/* Button 1a */
.button-1a:hover,
.button-1a:active {
    color: #0e83cd;
    background: #fff;
}

.erro {
   border: solid 1px hsl(0, 92%, 60%);
   animation: treme 0.2s;
}

.ok {
   color: green;
}

.remove {
   color: red; 
}

#selecionarServico{
    margin-bottom: 1%;
}

#total {
    font-size: 25px;
    font-weight: bold;
}

tableID {
    font-size: 18px;
    font-weight: bold;
}
.alerta {
    letter-spacing: 1px;
    font-weight: 700;
    border: 2px solid #0e83cd;
    width: 100%;
    padding: 2px;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 1%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;    
    width: 300px;
    height: 130px;
    background-color: white;
    margin: auto;
    display: none;
    z-index: 2;
}

.barra{
    text-align: left;
    padding: inherit;
    background-color: #5a9dc7;
    height: 25px;
    border-radius: 4px;
}

.alerta.visivel,
.nevoa.visivel {
    display: block;
}

.nevoa {
    content: " ";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    display: none;
}


