html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
    background-color: hsl(213, 76%, 95%);
}

h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: gray;
  margin-top: 20%;
}

.campos {
  background-color: #f4f4f4;
  border-color: white;
  border-width: thin;
  height: 50%;
  font-size: 16px;
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 95%;
  text-indent: 10px;

}

#logo {
    height: 15%;
    width: 100%;
    border: 2px solid hsl(0, 0%,0%);
}

.botaoMenu {
    border: 2px solid hsl(213, 76%, 95%);
    border-radius: 10px;
    background-color: hsl(213, 76%, 76%);    
    width: 100%;
    height: 15%;
    margin-left:0;
    font-family: helvetica;
    
}

.botaoMenu:hover {
    background-color: hsl(213, 76%, 40%);
    color: hsl(213, 76%, 100%);
}