@import url(http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


body {
    background-color: hsl(213, 76%, 95%);
}

ul {

    float: right;
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    font-weight: bold;
    list-style-type: none;
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
}

a:link,a:visited { 
    text-decoration: none; 
}

li:hover  {
    background-color: #ddd;
}

#usuarioLogado {
    margin-top: 1.5%;
    font-size: 90%;
    right: 15%;
    position: fixed;
}

#logout {
    color: red;
    right: 9%;
    position: fixed;
}

h1 {
    font-weight: bold;
}

.dropdown {
    margin-top:.7%;
    position: relative;
    display: inline-block;
    
}

.dropdown:hover {
    color: red;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border: 1px solid grey;
    background-color: hsl(213, 76%, 95%);
    min-width: 1%;
    padding: 1%;
}

#usuarioSair {
    border: 1px solid grey;
    background-color: white;
    color: #0e83cd;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}

.fa-power-off {
    color: #0e83cd;
}

#logoutSair :hover { 
   color: red;
   transition: 0s;
}