#menu {
    margin-left: -15px;
    height: 100%;
    background-color: #8693bb;
    width: 10%;
    position: fixed;
    left: 1%;
}

body {
    background-color: hsl(213, 76%, 95%);
}

.botaomenu {
    border: 1px solid gray;
    transition: 1s;
    background-color: hsl(213, 76%, 76%);    
    width:100%;
    margin-left: 0;    
    font-size: 100%;
    color: gray;
    height: 50px;
}

.botaomenu:hover {
    background-color: hsl(213, 76%, 40%);
    color: hsl(213, 76%, 100%);
    transition: 1s;
}