html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#logo {
    height: 15%;
    width: 100%;
    border: 2px solid hsl(0, 0%,0%);
}

#menu {
    margin-bottom: 20px;
    height: 400px;
    width: 10%;
    position: fixed;
    margin-top: 5%;
    border: 2px solid hsl(0, 0%,0%);
}
